</main>
<footer>
  <ul class="nav-list">

    <li>
      <a href="/incomes" class="btn-icon">
        <div class="background <%= section === 'incomes' ? 'active-background' : '' %>"></div>
        <img src="/images/incomes.svg" alt="">
      </a>
    </li>

    <li><a href="/" class="btn-icon home">
        <img src="/images/logo-icon.svg" alt="">
      </a>
    </li>

    <li><a href="/bills" class="btn-icon">
        <div class="background <%= section === 'bills' ? 'active-background' : '' %>"></div>
        <img src="/images/receipt.svg" alt="">
      </a>
    </li>


    <!-- <li><a href="/savings" class="btn-icon">
        <div class="background <%= section === 'savings' ? 'active-background' : '' %>"></div>
        <img src="/images/savings.svg" alt="">
      </a>
    </li> -->
  </ul>
</footer>
</div>
<script src="js/main.js"></script>
</body>
</html>
