</main>
<footer>
  <ul class="nav-list">
    <li><a href="/family" class="btn-icon">
      <img src="/images/family.svg" alt="" class="<%= section === 'family' ? 'active-icon' : '' %>">
    </a></li>
    <li><a href="/bills" class="btn-icon">
      <img src="/images/receipt.svg" alt="" class="<%= section === 'bills' ? 'active-icon' : '' %>">
    </a></li>
    <li><a href="/" class="btn-icon home">
        <img src="/images/wallet.svg" alt="">
      </a></li>
    <li><a href="/savings" class="btn-icon">
        <img src="/images/savings.svg" alt="" class="<%= section === 'savings' ? 'active-icon' : '' %>">
      </a></li>
    <li><a href="/history" class="btn-icon">
        <img src="/images/history.svg" alt="" class="<%= section === 'history' ? 'active-icon' : '' %>">
      </a></li>
  </ul>
</footer>
</div>
<script src="js/main.js"></script>
</body>

</html>