<%- include("startheader.ejs") %>
    <div class="fullContainer">
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="" class="logo-img">
            </a>
            <h1 class="name">Traccia Spese</h1>
        </header>
        <main>