<%- include("startheader.ejs") %>
  <div class="fullContainer">
    <header class="<%= section %>">
      <div class="background-container"></div>
      <div class="alert-container"></div>
      <div class="int-header">
          <div class="header-btn dropdown-menu">
            <a href="/settings" class="settings-btn" id="settingsBtn" onclick="toggleLogout()">
              <div class="settings-icon">
                <div class="setting-circle setting-circle1"></div>
              </div>
              <div class="settings-icon">
                <div class="setting-circle setting-circle2"></div>
              </div>
              <div class="settings-icon">
                <div class="setting-circle setting-circle1"></div>
              </div>
            </a>
          </div>
        <% const pageNames={ home: "Traccia Spese" , incomes: "Entrate" , bills: "Spese Fisse" , savings: "Risparmi" ,
          history: "Storico" , settings: "Impostazioni" }; %>
          <h1 class="name">
            <%= pageNames[section] || "Traccia Spese" %>
          </h1>
          <div class="header-btn ring-bell">
            <img class="bell-icon" src="/images/bell.svg">
          </div>
      </div>
    </header>