<div class="bg-new-cycle">

  <div class="full-body">
      <div class="new-cycle-title">
          <h1>Oggi è il PayDay</h1>
          <div class="line"></div>
      </div>

      <div class="body-int">
          <div class="carousel">
              <div class="rest">
                  <h2>Prendiamoci un momento per organizzare le tue prossime settimane</h2>
                  <img src="/images/moneybox.png" alt="">
                  <h2>Hai risparmiato <span>500 €.</span> Cosa vuoi fare?</h2>
                  <div class="decision-buttons">
                      <button class="for-savings">Metti nei<br>risparmi</button>
                      <button class="for-use">Usa questo<br>mese</button>
                  </div>
              </div>

              <div class="salaries">
                  <h2>Quale sono le entrate di questo mese?</h2>
                  <div class="container-new-salary">
                      <div class="add-salary-new-cycle">
                          <form class="form-add-salary-new-cycle" action="">
                              <input type="text" name="name" id="name-salary-new-cycle" placeholder="Nome">
                              <input type="number" name="value" id="value-salary-new-cycle" placeholder="Valore (€)">
                              <button type="submit" class="submit-new-salary-new-cycle"></button>
                          </form>
                      </div>
                  </div>
                  <div class="salaries-new-cycle">
                      <div class="new-entry-new-cycle">
                          <div class="income-text">
                              <h2 class="expense-name">
                                  Marcelo
                              </h2>
                              <h2 class="expense-value">
                                  2000.00 €
                              </h2>
                          </div>
                      </div>
                      <div class="line"></div>
                      <div class="new-entry-new-cycle" data-id="33">
                          <div class="income-text">
                              <h2 class="expense-name">
                                  Katia
                              </h2>
                              <h2 class="expense-value">
                                  2000.00 €
                              </h2>
                          </div>
                      </div>
                  </div>
                  <div class="total">
                      <h2>4000.00 €</h2>
                  </div>
                  <div class="actions">
                      <div class="back"></div>
                      <div class="next"></div>
                  </div>
              </div>

              <div class="bills-container">
                  <h2>Vuoi modificare le spese fisse?</h2>
                  <button class="add-salary-new-cycle"></button>
                  <div class="bills">
                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>
                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense prova expense prova expense prova expense prova expense prova
                                      expense prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                      <div class="bill">
                          <input type="checkbox" class="checkbox">
                          <div class="container-int">
                              <div class="first-part">
                                  <h2 class="expense-name">
                                      prova expense
                                  </h2>
                              </div>
                              <div class="second-part">
                                  <h2 class="expense-value">
                                      304.00 €
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="line"></div>

                  </div>
                  <button class="trash">
                      <img src="/images/trash-can.png" alt="">
                  </button>
              </div>

              <div class="weekly-limit">
                  <h2>Questo è il tuo budget settimanale. Vuoi modificarlo?</h2>
                  <div class="limit-value">
                      <div class="number-picker">
                          <div class="np-above"></div>
                          <input type="number" value="200" id="leftoverInput">
                          <div class="np-below"></div>
                      </div>
                  </div>
                  <h2>La differenza andrà nei risparmi.</h2>
              </div>

              <div class="end">
                  <h2>Hai impostato tutto!</h2>
                  <button class="end-btn">Conferma e inizia</button>
              </div>
          </div>
      </div>
      <div class="new-cycle-actions">
          <button class="back">
              <img src="/images/arrow.png" alt="">
          </button>
          <button class="next">
              <img src="/images/right-arrow.png" alt="">
          </button>
      </div>
  </div>
</div>
<main>
  <section id="new-cycle">
  </section>
</main>