<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Traccia Spese</title>
    <link rel="stylesheet" href="styles/new-cycle.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/pages.css">
    <link rel="stylesheet" href="styles/headerfooter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/logo-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/logo-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body>
    <div class="loader">
        <div class="container-loader">
                <img src="/images/icons/logo-192x192.png" alt="">
                <div class="loading">
                    <div class="circle-shadow"></div>
                    <div class="circle-shadow"></div>
                    <div class="circle-shadow"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
        </div>
    </div>