<%- include("partials/startheader.ejs") %>
    <div class="fullContainer">

        <img src="/images/logo.svg" alt="" class="logo-img">
        <h1 class="name">Traccia Spese</h1>

        <form action="/login" method="POST">
            <label for="nome utente">username</label>
            <input type="text" name="username" required>

            <label for="password">password</label>
            <input type="password" name="password" required>

            <button type="submit">login</button>
        </form>
    </div>
    <script src="js/chart.js"></script>
    </body>

    </html>