<%- include("partials/startheader.ejs") %>
    <div class="fullContainer">

        <img src="/images/logo.svg" alt="" class="logo-img">
        <h1 class="name">Traccia Spese</h1>

        <form action="/login" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" required>

            <label for="password">Senha</label>
            <input type="password" name="password" required>

            <button type="submit">login</button>
        </form>
    </div>
    <script src="js/chart.js"></script>
    </body>

    </html>