#auth {
    background-color: #16422A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#auth .logo-img {
    width: 120px;
    margin-bottom: 1.5rem;
}

#auth .container-login {
    background-color: #16422A;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 400px;
}

#auth .container-login h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

#auth .error {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 1rem;
}

#auth form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
}

#auth form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#auth form button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.7rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#auth form button:hover {
    background-color: #27ae60;
}

#auth p {
    color: white;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}

#auth a {
    color: #e67e22;
    text-decoration: none;
    font-weight: bold;
}

#auth a:hover {
    text-decoration: underline;
}