#auth {
    background-color: #F0F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#auth .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: #62ba8c;
    background: linear-gradient(180deg, rgba(98, 186, 140, 1) 0%, rgba(131, 167, 215, 1) 100%);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
#auth .logo-img {
    width: 120px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}
#auth .logo-img img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}
#auth .logo-img h1 {
    text-wrap: nowrap;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}

#auth .container-login {
    padding: 1.5rem;
    width: 75%;
    max-width: 400px;
    border-radius: 60px;
    background-color: white;
    z-index: 1;
}

#auth .container-login h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #999;
    font-size: 1.5rem;
}

#auth .error {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 1rem;
}

#auth form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #999;
}

#auth form input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0 12px 10px;
    margin-top: 0.3rem;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    appearance: none;
    background-color: #f1f3f2;
}

#auth form .btn-auth {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#auth form .btn-auth button {
    width: 60%;
    padding: 0.7rem;
    background: #45999B;
    background: linear-gradient(90deg, rgba(98, 186, 140, 1) 0%, rgba(131, 167, 215, 1) 100%);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;   
}
#auth form .btn-auth:hover button {
    background-color: #245340;
}

#auth p {
    color: black;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}

#auth a {
    color: #61B98C;
    text-decoration: none;
    font-weight: bold;
}

#auth a:hover {
    text-decoration: underline;
}