#auth {
    background: #45999B;
background: linear-gradient(180deg, rgba(69, 153, 155, 1) 0%, rgba(131, 167, 215, 1) 100%);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#auth .logo-img {
    width: 120px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
#auth .logo-img img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}
#auth .logo-img h1 {
    text-wrap: nowrap;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}

#auth .container-login {
    padding: 1.5rem;
    border-radius: 12px;
    width: 75%;
    max-width: 400px;
}

#auth .container-login h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

#auth .error {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 1rem;
}

#auth form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
}

#auth form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    margin-top: 0.3rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #15422A !important;
    color: white;
}

#auth form .btn-auth {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#auth form .btn-auth button {
    width: 60%;
    padding: 0.7rem;
    background-color: #3E8A66;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}
#auth form .btn-auth:hover button {
    background-color: #245340;
}

#auth p {
    color: white;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}

#auth a {
    color: #2E5A8F;
    text-decoration: none;
    font-weight: bold;
}

#auth a:hover {
    text-decoration: underline;
}