/* header */
header {
    width: 100%;
    height: 105px;
    background-color: #16422a;
    z-index: 998;
    display: flex;
    position: relative;
}

header .int-header {
    width: calc(100% - 40px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

header .name {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

header .header-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .settings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

header .gear-icon, header .bell-icon {
    width: 30px;
    height: 30px;
}


/* config */
.config {
    z-index: 999 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    background-color: #F0F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-config {
    top: 50px;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
}

/* payday */
/* .config .payday-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.config .payday-config .txt-payday {
    font-size: 1.2rem;
    margin: 10px 0;
}

.config .payday-config .form-payday {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.config .payday-config .form-payday input {
    width: 100%;
}

.config .payday-config .form-payday button {
    background-color: #62BA8C;
    padding: 0 40px;
    border-radius: 20px;
    color: white;
    border: none;
    height: 20px;
}
.config .payday-config .form-payday label {
    white-space: nowrap;
}

.logout-form {
    height: 28px;
    opacity: 1;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1;
}

.logout-btn {
    background-color: #62BA8C;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.config .payday-config .form-payday button:hover, .logout-btn:hover {
    background-color: #16422a;
} */

/* rounded head for body */
header .borders {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
header .border {
    width: 20px;
    height: 20px;
    background-color: #16422a;
}
header .border div {
    background-color: #EFEFEE;
    width: 100%;
    height: 100%;
}
header .border1 .border-int {
    border-radius: 100% 0 0 0;
}
header .border2 .border-int {
    border-radius: 0 100% 0 0;
}






/* footer */
footer {
    width: 450px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

@media (max-width: 450px) {
    footer {
        width: 100%;
    }
}

footer .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .nav-list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

footer .nav-list li a h4{
    font-size: 0.8rem;
    margin-top: 4px;
    color: #9a9a9a;
    list-style: none;
}

footer .nav-list li a .active-text{
    color: #111;
}

footer .nav-list .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
}

footer .nav-list .btn-icon:focus {
    outline: none;
}

footer .nav-list .btn-icon img {
    width: 30px;
}

footer .nav-list .btn-icon.home {
    height: 60px;
    background-color: #16422a;
    border-radius: 100%;
    margin-bottom: 20px;
}

.active-icon {
    filter: brightness(20%);
}

