/* header */
header {
    width: 100%;
    height: 105px;
    z-index: 998;
    display: flex;
    position: relative;
}

header .int-header {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

header .name {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

header .header-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* config */
.config {
    z-index: 999 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    background-color: #F0F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-config {
    top: 50px;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
}

/* rounded head for body */
header .borders {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
header .border {
    width: 20px;
    height: 20px;
    background-color: #16422a;
}
header .border div {
    background-color: #EFEFEE;
    width: 100%;
    height: 100%;
}
header .border1 .border-int {
    border-radius: 100% 0 0 0;
}
header .border2 .border-int {
    border-radius: 0 100% 0 0;
}

/* footer */
footer {
    width: 450px;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
}

@media (max-width: 450px) {
    footer {
        width: 100%;
    }
}

footer .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .nav-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}
footer .nav-list li a .background {
    position: absolute;
    width: 48px;
    height: 3px;
    bottom: -7px;
    border-radius: 3px;
    background-color: #62BA8C;
    z-index: -1;
    display: none;
}
footer .nav-list li a .active-background {
    display: block;
}

footer .nav-list li a h4{
    font-size: 0.8rem;
    margin-top: 4px;
    color: #9a9a9a;
    list-style: none;
}

footer .nav-list li a .active-text{
    color: #111;
}

footer .nav-list .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
}

footer .nav-list .btn-icon:focus {
    outline: none;
}

footer .nav-list .btn-icon img {
    width: 24px;
}

footer .nav-list .btn-icon.home img {
    width: 35px;
}

footer .nav-list .btn-icon.home {
    height: 60px;
    background-color: #62ba8c;
    border-radius: 100%;
    margin-bottom: 20px;
}

.active-icon {
    filter: brightness(20%);
}


/* header icon */

header .settings-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

header .settings-icon {
    width: 24px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: relative;
}

header .settings-icon .setting-circle {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: -2px;
    transition: all 0.25s ease;
}
header .settings-icon .setting-circle1 {
    left: 4px;
}
header .settings-icon .setting-circle2 {
    right: 4px;
}
header .settings-btn.toggled .setting-circle1 {
    left: 13px;
}
header .settings-btn.toggled .setting-circle2 {
    right: 13px;
}