.fullContainer {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #16422a;
}

@media (max-width: 450px) {
    .fullContainer {
        width: 100%;
    }
}

main {
    flex: 1;
    overflow: scroll;
    background-color: #F0F1F3;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 30px 30px 0 0;
    position: relative;
}

main::-webkit-scrollbar {
    display: none;
}

main section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
}

.balance {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.balance .balance-value {
    font-size: 3rem;
}

.title {
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

.title .title-name {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.title .plus-btn {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #62BA8C;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#home .title .plus-btn {
    background-color:#fd673c;
}


.title .plus-btn::before,
.title .plus-btn::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 4px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title .plus-btn::after {
    transform: translate(-50%, -50%) rotate(90deg);
}