/* Home */
/* total-week */
.total-week {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 50px);
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.home {
    height: 100px;
}

header.bills {
    height: 165px;
}
header.incomes {
    height: 100px;
}
header.settings {
    height: 50px;
}
.total-week .infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.total-week .infos .container-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.total-week .infos .container-info.positive {
    background-color: #62BA8C;
    color: white;
}

.total-week .infos .container-info.negative {
    background-color: #ED6841;
    color: white;
}

#home .entry .income-text {
    padding: 20px 0;
    width: calc(100% - 50px);
}

/* bills */

#bills .title {
    margin-top: 90px;
}
.separated-bills {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 50px);
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.separated-bills .bill-option {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 170px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.separated-bills .bill-option.paid {
    background-color: #62BA8C;
    color: white;
}

.separated-bills .bill-option .subtitle {
    display: flex;

}

.separated-bills .bill-option>* {
    width: calc(100% - 20px);
}

.separated-bills .bill-option .subtitle .img-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separated-bills .paid .subtitle .img-icon {
    background-color: white;
}

.separated-bills .unpaid .subtitle .img-icon {
    background-color: #16422a;
}

.separated-bills .bill-option .subtitle .img-icon img {
    max-height: 12px;
    max-width: 12px;
}

.separated-bills .unpaid .subtitle .img-icon img {
    filter: brightness(0) invert(1);
}

.separated-bills .bill-option .info-value h3 {
    font-size: 1.6rem;
}

.separated-bills .bill-option .filter-btn {
    background-color: #15422A;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 0px;
    transition: 0.2s all;
}

.separated-bills .bill-option .filter-btn.active {
    opacity: 0;
}

.entry-bills.hidden {
    display: none;
}

/* incomes */
#incomes .title {
    margin-top: 125px;
}

.balance {
    position: absolute;
    z-index: 999;
    top: 25px;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    background-color: #62BA8C;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;
    height: 130px;
    justify-content: center;
}

.balance .container-balance {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    gap: 5px;
}
.balance .balance-value {
    font-size: 1.8rem;
}

/* expense and entry */
.expense,
.entry {
    position: relative;
    width: calc(100% - 50px);
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    overflow: hidden;
}

.icon-circle {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 10px 0;
}

#incomes .icon-circle,
#bills .icon-circle,
#settings .icon-circle {
    background-color: #62ba8c;
}

#home .icon-circle {
    background-color: #fd673c;
}

.icon-circle .icon {
    filter: brightness(0) invert(1);
    width: 12px;
}

#settings .icon-circle .icon {
    width: 20px;
}

#home .retifica-info .icon-circle .icon {
    width: 20px;
}

#incomes .line {
    width: calc(100% - 40px);
    height: 2px;
    background-color: gray;
    margin: 15px 20px;
}

.entry-bills.total .income-text {
    padding: 20px 0;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}

#settings .cycle-block .separator {
    background-color: #62ba8c;
}

.expense .income-text,
.entry .income-text,
.total .income-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px);
    font-size: 0.7rem;
    flex-wrap: nowrap;
}

#bills .line,
#savings .line {
    width: calc(100% - 40px);
    height: 2px;
    background-color: gray;
    margin: 15px 20px;
}

#bills .entry-bills.manual-entry,
#savings .entry-bills.manual-entry {
    padding: 20px 0;
}

#bills .entry-bills .container-int,
#savings .entry-bills .container-int {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem !important;
}


.entry-bills .first-part,
.entry-bills .second-part {
    width: calc(100% - 40px);
}

.entry-bills .first-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.entry-bills .second-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    gap: 5px;
}

.total,
.payday-config {
    position: relative;
    width: calc(100% - 40px);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#bills .entry-bills.total .income-text,
#savings .entry-bills.total .income-text,
#incomes .entry-bills.total .income-text,
.payday-config .form-payday {
    width: calc(100% - 40px);
}

.cycle-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

/* edit and delete btn */
.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    top: 0;
    height: 100%;
    right: -20px;
    transition: right 0.3s ease;
}

.entry.active .actions {
    right: 5px;
}

.expense-value,
.status {
    transition: margin-right 0.3s ease;
}

.entry.active .expense-value,
.entry.active .status {
    margin-right: 30px;
}

.actions button {
    background-color: transparent;
    border: none;
}

.actions * {
    height: 20px;
    width: 20px;
}

.actions form {
    display: flex;
}

.actions img {
    filter: brightness(40%);
}


/* savings */
.savings .income-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 95px);
    font-size: 0.7rem;
}

/* container */
.container-plus-btn,
.container-edit-btn {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:450px) {

    .container-plus-btn,
    .container-edit-btn {
        max-width: 450px;
    }

}

.container-plus-btn.hidden-spese,
.container-plus-btn.hidden,
.container-edit-btn.hidden-spese,
.container-edit-btn.hidden {
    display: none;
}

.container-plus-btn .container,
.container-edit-btn .container {
    width: calc(100% - 40px);
    border-radius: 15px;
    background-color: white;
}

.container-plus-btn .container .form-incomes,
.container-edit-btn .container .form-incomes {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-plus-btn .container .form-incomes input,
.container-edit-btn .container .form-incomes input,
.container-plus-btn .container .form-incomes select {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
}

input:focus,
select:focus {
    outline: none;
}

.container-edit-btn .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-edit-btn .btn-container button {
    width: 48%;
}

.container-plus-btn .container .form-incomes button,
.container-edit-btn .container .form-incomes button {
    height: 60px;
    font-size: 1.3rem;
    border: none;
    background-color: #62BA8C;
    transition: 0.2s all;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);

}

.container-plus-btn .container .form-incomes button:hover,
.container-edit-btn .container .form-incomes button:hover {
    background-color: #15422A;
    color: white;
}

/* history */
#history .form-history {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
}

#history .form-history .months {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

#history .form-history .months input {
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
}

#history .form-history .months .date-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#history button {
    width: 50%;
    padding: 0.7rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 6px;
}

@media (max-width: 395px) {
    #history .form-history .months {
        justify-content: space-evenly;
    }

    #history .form-history .months .date-group {
        flex-direction: column;
    }

    #history .form-history .months input {
        width: 90%;
    }
}

/* taking off the blue effect */
button:focus,
button:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}


/* load new page */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #2ecc71, #27ae60);
    animation: loading 1s infinite;
    z-index: 9999;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.hidden {
    display: none;
}

/* settings */
.entry-settings {
    cursor: pointer;
}

.container-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout-form {
    width: 100%;
}
.logout-btn {
    border: none;
}
.body-settings {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.payday-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    display: none;
}
.payday-space .payday-title {
    font-size: 1.7rem;
    color: #15422A;
    margin-bottom: 20px;
}
.payday-space .container-paga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #62ba8c;
    width: 150px;
    color: white;
    padding: 40px;
    border-radius: 40px;
}

.payday-space .container-paga .title-paga {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.payday-space .container-paga .title-paga .icon-calendar {
    width: 15px;
}
.payday-space .container-paga .form-payday {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
    width: 100%;
}
.payday-space .container-paga .form-payday input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: solid 2px white;
    background-color: #62BA8C;
}

.payday-space .container-paga .form-payday input,
.payday-space .container-paga .form-payday input::placeholder {
    color: white;
    text-align: center;
}

.payday-space .container-paga button {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #62BA8C;
    font-weight: bold;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}
.history .history-week {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#settings .settings-btn.active { background-color: #dcdcdc;}

#settings .history-week .daysWeek {
    margin: 10px 0;
    font-size: 1.3rem;
}

#settings .history-week .infos {
    width: 100%;
    margin-bottom: 10px;
}

#settings .history-week .infos .container-text {
    width: 100%;
}

#settings .history-week .infos .container-text tr td {
    padding: 5px 10px;
}

#settings .history-week .infos .container-text tr .value {
    text-align: right;
    color: #009E77;
}


#settings .history-week .infos .container-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

#settings .history-week .infos .container-info.positive {
    background-color: #62BA8C;
    color: white;
}

#settings .history-week .infos .container-info.negative {
    background-color: #ED6841;
    color: white;
}

#settings .history-week .infos .line td {
    width: calc(100% - 20px);
    height: 1px;
    background-color: black;
    opacity: 0.2;
    padding: 0 !important;
}