/* Home */
/* total-week */
section .total-week {
    width: calc(100% - 40px);
    background-color: #FFF;
    margin: 15px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

section .total-week .daysWeek {
    margin: 10px 0;
    font-size: 1.5rem;
}

section .total-week .infos {
    display: flex;
    width: calc(100% - 40px);
    margin: 10px 0;
}

section .total-week .infos .container-table,
section .total-week .infos .donut-space {
    width: 100%;
}

section .total-week .infos .container-table {
    display: flex;
    align-items: center;
}

section .total-week .infos .container-text {
    width: 100%;
}

section .total-week .infos .container-text tr td {
    padding: 5px 10px;
}

section .total-week .infos .container-text tr .value {
    text-align: right;
    color: #009E77;
}

section .total-week .infos .container-text tr .value.negative {
    color: red;
    font-weight: bold;
}

section .total-week .infos .line td {
    width: calc(100% - 20px);
    height: 1px;
    background-color: black;
    opacity: 0.2;
    padding: 0 !important;
}

section#home .entry .income-text {
    padding: 20px 0;
    width: calc(100% - 60px);
}

/* expense and entry */
section .expense,
section .entry {
    position: relative;
    width: calc(100% - 40px);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

section .expense .icon-circle,
section .entry .icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8AD25D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 20px 15px 0;
}

section .entry .icon-circle .icon {
    filter: brightness(0) invert(1);
}

section#family .line {
    width: calc(100% - 40px);
    height: 2px;
    background-color: gray;
    margin: 15px 20px;
}

section .entry-bills.total .income-text {
    padding: 20px 0;
}

.expense .income-text,
.entry .income-text,
.total .income-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 95px);
    font-size: 0.7rem;
    flex-wrap: nowrap;
}

section#bills .line,
section#savings .line {
    width: calc(100% - 40px);
    height: 2px;
    background-color: gray;
    margin: 15px 20px;
}

section#bills .entry-bills.manual-entry,
section#savings .entry-bills.manual-entry {
    padding: 20px 0;
}

section#bills .entry-bills .container-int,
section#savings .entry-bills .container-int {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem !important;
}


section .entry-bills .first-part,
section .entry-bills .second-part {
    width: calc(100% - 40px);
}

section .entry-bills .first-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

section .entry-bills .second-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    gap: 5px;
}

.status {
    margin-left: 10px;
    font-weight: bold;
}

.paid {
    color: green;
}

.unpaid {
    color: #FD673C;
}

.total {
    position: relative;
    width: calc(100% - 40px);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

section#bills .entry-bills.total .income-text,
section#savings .entry-bills.total .income-text,
section#family .entry-bills.total .income-text {
    width: calc(100% - 40px);
}

/* edit and delete btn */
section .actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    top: 0;
    height: 100%;
    right: -20px;
    transition: right 0.3s ease;
}

.entry.active .actions {
    right: 5px;
}

.expense-value, .status {
    transition: margin-right 0.3s ease;
}

.entry.active .expense-value, .entry.active .status {
    margin-right: 15px;
}

section .actions button {
    background-color: transparent;
    border: none;
}

section .actions * {
    height: 20px;
    width: 20px;
}

section .actions form {
    display: flex;
}

section .actions img {
    filter: brightness(40%);
}


/* savings */
section .savings {
    width: calc(100% - 40px);
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

section .savings .icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8AD25D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 20px;
}

section .savings .icon-circle .icon {
    filter: brightness(0) invert(1);
}

section .savings .income-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 95px);
    font-size: 0.7rem;
}

/* container */
.container-plus-btn,
.container-edit-btn {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:450px) {

    .container-plus-btn,
    .container-edit-btn {
        max-width: 450px;
    }

}

.container-plus-btn.hidden-spese,
.container-plus-btn.hidden,
.container-edit-btn.hidden-spese,
.container-edit-btn.hidden {
    display: none;
}

.container-plus-btn .container,
.container-edit-btn .container {
    width: calc(100% - 40px);
    border-radius: 15px;
    background-color: white;
}

.container-plus-btn .container .form-family,
.container-edit-btn .container .form-family {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-plus-btn .container .form-family input,
.container-edit-btn .container .form-family input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
}

.container-plus-btn .container .form-family input:focus,
.container-edit-btn .container .form-family input:focus {
    outline: none;
}

.container-edit-btn .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-edit-btn .btn-container button {
    width: 48%;
}

.container-plus-btn .container .form-family button,
.container-edit-btn .container .form-family button {
    height: 60px;
    font-size: 1.3rem;
    border: none;
    background-color: #FBC328;
    transition: 0.2s all;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);

}

.container-plus-btn .container .form-family button:hover,
.container-edit-btn .container .form-family button:hover {
    background-color: #FC673A;
}

/* history */
#history .form-history {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
}

#history .form-history .months {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

#history .form-history .months input {
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
}

#history .form-history .months .date-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#history button {
    width: 50%;
    padding: 0.7rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 6px;
}

@media (max-width: 395px) {
    #history .form-history .months {
        justify-content: space-evenly;
    }

    #history .form-history .months .date-group {
        flex-direction: column;
    }

    #history .form-history .months input {
        width: 90%;
    }
}

/* taking off the blue effect */
button:focus,
button:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}


/* load new page */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #2ecc71, #27ae60);
    animation: loading 1s infinite;
    z-index: 9999;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.hidden {
    display: none;
}